  <section id="experience" class="text-center">
        <div class="container">
          <h6 class="section-title">My previous jobs</h6>
          <h1>My <span class="green">experience</span></h1>
          <div class="jobs">
             @for (item of items; track item.id) {
              <div class="job-item first">
              <p class="date">{{item.dateFrom}} - {{item.dateTo}}</p>
              <p class="position">{{item.position}}</p>
              <p class="company">{{item.company}}</p>
              <p>{{item.description}}</p>
            </div>
             }
             <!--
            <div class="job-item first">
              <p class="date">April 2021 - NOW</p>
              <p class="position">Senior Marketing Secialist</p>
              <p class="company">Remote technologies</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="job-item second">
              <p class="date">January 2019 - March 2020</p>
              <p class="position">Main Company Consultant and Marketer</p>
              <p class="company">Abstract vision</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="job-item third">
              <p class="date">July 2012 - December 2019</p>
              <p class="position">HR Specialisty and Marketing Consultant</p>
              <p class="company">Brt Solutions LTD</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="job-item fourth">
              <p class="date">September 2009 - November 2012</p>
              <p class="position">Junior Salesman and Office Manager</p>
              <p class="company">Economic Platform</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
             -->

          </div>
        </div>
      </section>