      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="copyright">
            <p>&copy; 2026 BHULLAR ME | Developed by <a href="https://bhullar.me" title="Bhullar Me - Something Big">Bhullar Me</a></p>
            <!--
            This template is licenced under Attribution 3.0 (CC BY 3.0 PL),
            You are free to: Share and Adapt. You must give appropriate credit, you may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.
            --> 
        </div>
        </div>   
      </footer>
      <div class="fb2022-copy">Bhullar Me 2026 copyright</div>