<section id="about">
        <div class="about container">
          <h6 class="section-title">About me</h6>
            <div class="about-wrapper">
              <div class="left">
                <div>
                 <img src="/assets/img/icon/woman-icon.svg" alt=""><h2><span class="green">8 Years</span> Job
                   Experience</h2>
                </div>
                <div>
                  <img src="/assets/img/icon/projects-icon.svg" alt=""><h2><span class="green">800+</span> Projects
                   Completed</h2>
                </div>
               </div>
               <div class="right">
                 <h1>What are my strongest sides <span class="green">and skills?</span></h1>
                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
               </div>
            </div>
        </div>
</section>