<section id="about">
        <div class="about container">
          <h6 class="section-title">About me</h6>
            <div class="about-wrapper">
              <div class="left">
                <div>
                 <img src="/assets/img/icon/woman-icon.svg" alt=""><h2><span class="green">15 Years</span> 
                   Experience</h2>
                </div>
                <div>
                  <img src="/assets/img/icon/projects-icon.svg" alt=""><h2><span class="green">Transportation +</span> & IT Projects
                   </h2>
                </div>
               </div>
               <div class="right">
                 <h1>What are my strongest sides <span class="green">and skills?</span></h1>
                 <p>Results-driven Director of Transportation with over 15 years of experience optimizing complex supply chain operations and reducing logistics costs.</p>
               </div>
            </div>
        </div>
</section>